/* Используем стили из NewPallet.css и добавляем свои */
@import url('../NewPallet/NewPallet.css');

.new-pallet__subheading {
    font-size: 4vw;
    text-align: center;
    color: #eee;
    margin-top: -30px;
    margin-bottom: 20px;
}

.product-info__serial {
    font-size: 1.2rem;
    color: #f6fa05;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
