.new-pallet {
    height: 100%;
    padding: 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../../assets/pallet.jpeg");
    background-position: center;
    background-size: auto;
}

.new-pallet__heading {
    text-align: center;
    color: white;
    font-size: 20px;
}

.new-pallet__description {
    text-align: center;
    color: rgb(155, 155, 155);
}

.pallet-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pallet-form__input-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.pallet-form__input {
    width: 100%;
    padding-right: 50px; /* Добавим отступ для иконки */
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 0 0 15px 15px;
    border-bottom: 2px solid #f6fa05;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: lightgray;
    text-align: center;
}

.pallet-form__input-container > button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
}


.pallet-form__send-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 24px 48px;
    font-size: 16px;
    border-radius: 20px;
    text-transform: uppercase;
    border: 2px solid white;
}

.exit-button_new-pallet {
    font-size: 16px;
    position: absolute;
    bottom: 6px;
    background-color: #c82333;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 16px;
    left:50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 8px 0px;
}
