.exit-button {
  background-color: #c82333;
  color: #fff;
  font-weight: 500;
  border: none;
}

.pallet {
  position: relative;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/pallet.jpeg");
  background-position: center;
  background-size: auto;
  overflow: auto;
  box-sizing: border-box;
}

.pallet-user {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pallet-text {
  margin: 0;
  font-size: 16px;
  /* color: #333; */
  display: block;
}

.pallet-block {
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  box-sizing: border-box;
}

.pallet-block-about {
  background-color: #b6b6b6;
  justify-content: space-evenly;
}

.pallet-block-status {
  border-top: none;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.pallet-block-status__text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.pallet-block-boxes {
  overflow: scroll;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  height: 100%;
  border: none;
}

.pallet-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
}
.pallet__user {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: end;
  padding: 6px;
  margin: 0;
  box-sizing: border-box;
}

.pallet__remove-box {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #dc3545;
  color: #fff;
}

.pallet__remove-box:hover {
  background-color: #c82333;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  width: min-content;
  background-color: red;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 12px;
  align-self: center;
  justify-self: end;
  transition: 0.3s;
}

.back-button:hover {
  opacity: 0.7;
}

.pallet-buttons {
  width: 100%;
  display: flex;
}

.pallet-button {
  width: 100%;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 500;
  border: none;

}

.pallet-button:active {
  opacity: 0.5;
}

.pallet-button_delete {
  text-transform: uppercase;
  background-color: #d32f2f;
  color: #fff;
  /* width: 100%; */
}

.pallet-button_next-pallet {
  text-transform: uppercase;
  background-color: #66bb6a;
  color: #fff;
  /* width: 100%; */
}

.pallet-button_exit {
  background-color: grey;
}

.pallet-button_finish {
  color: #fff;
  background-color: #66bb6a;
}

.pallet-button_finish:disabled {
  background-color: gray;
  opacity: .3;
}

.pallet-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  position: relative;
}

.pallet-table thead {
  position: sticky;
  top: -1px;
}

.pallet-table__heading {
  padding: 0.5rem;
  border-right: 1px solid #ccc;
  border-left: 0;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.pallet-table__heading:last-child {
  border: none;
}

.pallet-table__data {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.pallet-table__sscc {
  overflow-wrap: anywhere;
  font-size: 14px;
  word-break: break-all;
}

.pallet-table__row {
  background-color: #d6d6d6;
}

.pallet-table__row:nth-child(even) {
  background-color: #b6b6b6;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/pallet.jpeg");
  background-position: center;
  background-size: auto;
  overflow: auto;
  box-sizing: border-box;
  color: #fff;
}

.pallet-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__error-text {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-bottom: 15%;
}

.popup-error {
  background-color: #ffebee; /* Светло-красный фон для индикации ошибки */
  color: #d32f2f; /* Красный текст */
  justify-content: center;
}

.popup-error__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-error__text {
  font-size: 7vw;
  font-weight: 500;
  text-align: center;
  padding: 0 6px;
  word-wrap: break-word; /* Разрешить перенос слов */
  overflow-wrap: break-word; /* Альтернативный способ разрешить перенос слов */
  max-width: 100%; /* Ограничить максимальную ширину */
  flex-shrink: 1; /* Разрешить уменьшение текста */
  width: 95%;

}

.popup-error__button {
  width: 50%;
  padding: 16px 0;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #d32f2f;
  color: #fff;
  margin-top: 20px;
}

.pallet-dialog {
  width: 92%;
  height: 92%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
}

.pallet-dialog__text {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.pallet-dialog-buttons {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.pallet-dialog-btn {
  width: 40%;
  padding: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #66bb6a;
  color: #fff;
  margin-top: 20px;
  transition: .3s;
}

.pallet-dialog-btn:active {
  opacity: .7;
  transform: scale(0.9);
}

.pallet-dialog-btn:nth-child(2) {
  background-color: #d32f2f;
}
