html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
}
body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

* {
  font-family: "Roboto", sans-serif;
  /* margin: 0;
  padding: 0; */
}
