.scanButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    background-color: rgba(100, 150, 83, .5);
    border-radius: 10px;
}
  
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.modalContent {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    width: 95%;
    max-width: 600px;
    max-height: 95svh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    border: 1px solid #333;
}
  
.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}
  
.modalTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
  
.scannerContainer {
    width: 100%;
    background: #000;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.video,
.resultImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.actions, .resultActions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
  
.actionButton {
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    transition: background-color 0.2s;
}
  
.actionButton:hover {
    background-color: #444;
}
  
.errorText {
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 15px;
}

.resultText {
    text-align: center;
    margin-bottom: 10px;
    word-break: break-all;
}

.scanRegionFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    border: 2px solid #4caf50;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    pointer-events: none; /* чтобы рамка не мешала кликам, если понадобится */
}
